<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ada is here to help</title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/output.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='css/custom.css')}}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/marked/lib/marked.umd.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap" rel="stylesheet">

  <style type="text/tailwindcss">
    @layer base {
        ul {
          list-style-type: circle;
        }
        ol {
          list-style-type: decimal;
        }
      }
    </style>
</head>

<body class="">
  <div class="flex flex-col justify-between h-screen">
    <h2 class="text-center text-digital-red sticky top-0 bg-white w-full flex-0 flex-row overflow-hidden">
      Ask Ada
    </h2>

    <div class="flex-1 overflow-y-auto">
      <div id="messageHolder" class=""></div>
    </div>
      <div class="p-24 w-full bg-white sticky bottom-0 flex">
    <label for="chat" class="sr-only">Ask a question</label>
        <input type="text" class="flex-1 border m-2 
               p-2 outline-none ring-2 ring-fog-dark
               border-transparent text-lg" placeholder="Ask A Question" name="chat" id="chat" />
        <button id="btn" class="button bg-digital-red ">
          Send
        </button>
      </div>
    </div>

    <script type="module" src="{{ url_for('static',filename='main.js') }}"></script>

</body>

</html>